<html>
    <head>
        <link rel="stylesheet" href="../assets/css/global.css">
    </head>
    <body>
        <h2>BoomYEAH Documentation Tool</h2>
        
        <h4>ADMIN Pages</h4>
        <ul>
            <li><a href="../views/admin/login.html" target="_blank">Signup/Login Page</a> /</li>
            <li><a href="../views/admin/docs.html" target="_blank">Documentations Page</a> /admin/docs</li>
            <li><a href="../views/admin/sections.html" target="_blank">Document Sections Page</a> /docs/:document_id/edit</li>
            <li><a href="../views/admin/components.html" target="_blank">Document Components Page</a> /docs/:document_id/:section_id/edit</li>
            <li><a href="../views/admin/component_preview.html" target="_blank">Document Components Preview Page</a> /docs/:document_id/:section_id</li>
        </ul>

        <h4>USER Pages</h4>
        <ul>
            <li><a href="../views/admin/login.html" target="_blank">Signup/Login Page</a> /</li>
            <li><a href="../views/user/docs.html" target="_blank">Documentations Page</a> /docs</li>
            <li><a href="" target="_blank">Document Sections Page</a> /docs/:document_id</li>
            <li><a href="" target="_blank">Document Components Page</a> /docs/:document_id/:section_id</li>
        </ul>
    </body>
</html>