<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Team 2 BoomYEAH Documentation | Index</title>
        <link rel="icon" type="image/x-icon" href="/web-frontend/assets/images/favicon.svg">
        <link rel="stylesheet" href="../assets/css/global.css">
    </head>
    <body>
        <h2>BoomYEAH Documentation Tool</h2>
        
        <h4>ADMIN Pages</h4>
        <ul>
            <li><a href="../views/admin/login.html" target="_blank">Signup/Login Page</a> /</li>
            <li><a href="../views/admin/docs.html?size=7" target="_blank">Documentations Page</a> /admin/docs</li>
            <li><a href="../views/admin/sections.html?size=7" target="_blank">Document Sections Page</a> /docs/:document_id/edit</li>
            <li><a href="../views/admin/components.html?size=3&tabs=4" target="_blank">Document Components Page</a> /docs/:document_id/:section_id/edit</li>
            <li><a href="../views/admin/component_preview.html?size=3&tabs=4" target="_blank">Document Components Preview Page</a> /docs/:document_id/:section_id</li>
        </ul>

        <h4>USER Pages</h4>
        <ul>
            <li><a href="#" target="_blank">Signup/Login Page</a> /</li>
            <li><a href="../views/user/docs.html?size=7" target="_blank">Documentations Page</a> /docs</li>
            <li><a href="#" target="_blank">Document Sections Page</a> /docs/:document_id</li>
            <li><a href="#" target="_blank">Document Components Page</a> /docs/:document_id/:section_id</li>
        </ul>
    </body>
</html>