@import url("/web-frontend/assets/css/custom/fonts.css");
/* FONTS */
/* COLORS */
* {
  font: 14px/18px "Roboto-Regular";
}
.hidden {
  display: none !important;
}
.disabled {
  pointer-events: none;
}
.input_error {
  border: 1px solid #e97575;
  border-bottom: 2px solid #e97575 !important;
}
.input_error span {
  color: #e97575 !important;
}
#confirm_modal .modal-dialog {
  background-color: #FFFFFF;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  margin: 160px auto;
  max-width: 328px;
  padding: 35px 35px 38px;
}
#confirm_modal .modal-dialog .modal-content {
  border: none;
}
#confirm_modal .modal-dialog .modal-content #action_icon_container {
  background: url("/web-frontend/assets/images/confirm-modal-sprite.svg") no-repeat;
  display: block;
  height: 58px;
  margin: 0 auto;
  width: 58px;
}
#confirm_modal .modal-dialog .modal-content #action_icon_container.private_icon {
  background-position: -8px -14px;
  height: 63px;
}
#confirm_modal .modal-dialog .modal-content #action_icon_container.public_icon {
  background-position: -89px -9px;
  height: 63px;
}
#confirm_modal .modal-dialog .modal-content #action_icon_container.remove_icon {
  background-position: -171px -7px;
  height: 59px;
}
#confirm_modal .modal-dialog .modal-content #action_icon_container.archive_icon {
  background-position: -258px -8px;
  height: 59px;
}
#confirm_modal .modal-dialog .modal-content #action_icon_container.duplicate_icon {
  background-position: -343px -8px;
  height: 59px;
  width: 50px;
}
#confirm_modal .modal-dialog .modal-content p {
  color: #4B626A;
  font: 16px/24px "Roboto-Regular";
  margin: 33px 0 17px;
  text-align: center;
}
#confirm_modal .modal-dialog .modal-content p span {
  font: 16px/24px "Roboto-Regular";
}
#confirm_modal .modal-dialog .modal-content div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
#confirm_modal .modal-dialog .modal-content div button {
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #B3CAD4;
  color: #B3CAD4;
  font: 16px/24px "Roboto-Medium";
  height: 40px;
  width: 80px;
}
#confirm_modal .modal-dialog .modal-content div button:last-child {
  background-color: #009EBE;
  border-radius: 8px;
  color: #FFFFFF;
  margin-left: 44px;
  -webkit-transition: 0.21s;
  transition: 0.21s;
}
#confirm_modal .modal-dialog .modal-content div button:last-child:hover {
  opacity: 0.8;
}
body {
  background: #E7EFF6;
}
nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  padding: 0 24px;
  position: sticky;
  top: 0;
  z-index: 30;
}
nav.show_mobile_menu #mobile_menus {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}
nav.show_mobile_menu #overlay {
  display: block;
}
nav .mobile_menu_button {
  background: url("/web-frontend/assets/images/svg_icons_stripe.svg");
  background-position: -1041px -10px;
  border: none;
  display: none;
  height: 16px;
  margin-right: 17px;
  outline: none;
  padding: 0 0 0;
  text-decoration: none;
  width: 23px;
}
nav > a {
  height: 30px;
}
nav #user_settings {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
nav #user_settings #theme_block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #DBF5FF;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  margin-right: 24px;
  padding: 0 3px;
  position: relative;
  width: 73px;
}
nav #user_settings #theme_block::after {
  background: #009EBE;
  border-radius: 12px;
  content: "";
  height: 24px;
  left: 3px;
  position: absolute;
  width: 24px;
}
nav #user_settings #theme_block button {
  background: none;
  border: none;
  height: 24px;
  outline: none;
  width: 24px;
  z-index: 1;
}
nav #user_settings #theme_block button:first-child {
  position: relative;
}
nav #user_settings #theme_block button:first-child::after {
  background: url("../../images/svg_icons_stripe.svg") no-repeat 4.5px -5.3px;
  bottom: 0;
  content: "";
  height: 24px;
  left: 0;
  position: absolute;
  width: 24px;
}
nav #user_settings #theme_block button:last-child {
  margin-left: auto;
  position: relative;
}
nav #user_settings #theme_block button:last-child::after {
  background: url("../../images/svg_icons_stripe.svg") no-repeat -94px -5.3px;
  bottom: 0;
  content: "";
  height: 24px;
  position: absolute;
  right: 0;
  width: 24px;
}
@-webkit-keyframes animate_dark_theme {
  0% {
    left: 3px;
  }
  25% {
    left: 15px;
  }
  50% {
    left: 25px;
  }
  75% {
    left: 40px;
  }
  100% {
    left: 46px;
  }
}
@keyframes animate_dark_theme {
  0% {
    left: 3px;
  }
  25% {
    left: 15px;
  }
  50% {
    left: 25px;
  }
  75% {
    left: 40px;
  }
  100% {
    left: 46px;
  }
}
@-webkit-keyframes show_icon {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 10%;
  }
  50% {
    opacity: 35%;
  }
  75% {
    opacity: 65%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes show_icon {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 10%;
  }
  50% {
    opacity: 35%;
  }
  75% {
    opacity: 65%;
  }
  100% {
    opacity: 100%;
  }
}
nav #user_settings #theme_block.set_dark_mode::after {
  -webkit-animation: animate_dark_theme 0.2s ease-in-out;
          animation: animate_dark_theme 0.2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
nav #user_settings #theme_block.set_dark_mode #dark_mode::after {
  -webkit-animation: show_icon 0.35s ease-in-out;
          animation: show_icon 0.35s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: url("../../images/svg_icons_stripe.svg") no-repeat -29px -5.3px;
}
@-webkit-keyframes change_icon {
  0% {
    background-position: 4.5px -5.3px;
    opacity: 0;
  }
  25% {
    background-position: 4.5px -5.3px;
    opacity: 10%;
  }
  50% {
    background-position: 4.5px -5.3px;
    opacity: 35%;
  }
  75% {
    background-position: -62px -5.3px;
    opacity: 65%;
  }
  100% {
    background-position: -62px -5.3px;
    opacity: 100%;
  }
}
@keyframes change_icon {
  0% {
    background-position: 4.5px -5.3px;
    opacity: 0;
  }
  25% {
    background-position: 4.5px -5.3px;
    opacity: 10%;
  }
  50% {
    background-position: 4.5px -5.3px;
    opacity: 35%;
  }
  75% {
    background-position: -62px -5.3px;
    opacity: 65%;
  }
  100% {
    background-position: -62px -5.3px;
    opacity: 100%;
  }
}
nav #user_settings #theme_block.set_dark_mode #light_mode::after {
  -webkit-animation: change_icon 0.35s ease-in-out;
          animation: change_icon 0.35s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: url("../../images/svg_icons_stripe.svg") no-repeat;
}
@-webkit-keyframes animate_light_theme {
  0% {
    left: 46px;
  }
  25% {
    left: 40px;
  }
  50% {
    left: 25px;
  }
  75% {
    left: 15px;
  }
  100% {
    left: 3px;
  }
}
@keyframes animate_light_theme {
  0% {
    left: 46px;
  }
  25% {
    left: 40px;
  }
  50% {
    left: 25px;
  }
  75% {
    left: 15px;
  }
  100% {
    left: 3px;
  }
}
@keyframes show_icon {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 10%;
  }
  50% {
    opacity: 35%;
  }
  75% {
    opacity: 65%;
  }
  100% {
    opacity: 100%;
  }
}
nav #user_settings #theme_block.set_light_mode::after {
  -webkit-animation: animate_light_theme 0.2s ease-in-out;
          animation: animate_light_theme 0.2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
nav #user_settings #theme_block.set_light_mode #dark_mode::after {
  -webkit-animation: show_icon 0.35s ease-in-out;
          animation: show_icon 0.35s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: url("../../images/svg_icons_stripe.svg") no-repeat -94px -5.3px;
}
@-webkit-keyframes change_light_icon {
  0% {
    background-position: 62px -5.3px;
    opacity: 0;
  }
  25% {
    background-position: 62px -5.3px;
    opacity: 10%;
  }
  50% {
    background-position: 62px -5.3px;
    opacity: 35%;
  }
  75% {
    background-position: 4.5px -5.3px;
    opacity: 65%;
  }
  100% {
    background-position: 4.5px -5.3px;
    opacity: 100%;
  }
}
@keyframes change_light_icon {
  0% {
    background-position: 62px -5.3px;
    opacity: 0;
  }
  25% {
    background-position: 62px -5.3px;
    opacity: 10%;
  }
  50% {
    background-position: 62px -5.3px;
    opacity: 35%;
  }
  75% {
    background-position: 4.5px -5.3px;
    opacity: 65%;
  }
  100% {
    background-position: 4.5px -5.3px;
    opacity: 100%;
  }
}
nav #user_settings #theme_block.set_light_mode #light_mode::after {
  -webkit-animation: change_light_icon 0.35s ease-in-out;
          animation: change_light_icon 0.35s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: url("../../images/svg_icons_stripe.svg") no-repeat;
}
nav #user_settings #user_profile_wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav #user_settings #user_profile_wrapper img {
  margin-right: 9px;
}
nav #user_settings #user_profile_wrapper button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: none;
  color: #009EBE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 16px/24px "Roboto-Medium";
  outline: none;
}
nav #user_settings #user_profile_wrapper button .caret_arrow {
  background: url("../../images/svg_icons_stripe.svg") no-repeat -123px -7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
  margin-left: 8px;
  width: 24px;
}
nav #mobile_menus {
  background-color: #F2FBFF;
  height: 1000vh;
  left: 0;
  padding: 24px 16px 0;
  position: fixed;
  top: 0;
  -webkit-transform: translateX(-220px);
          transform: translateX(-220px);
  -webkit-transition: all 0.21s;
  transition: all 0.21s;
  z-index: 10;
}
nav #mobile_menus button {
  background: url("/web-frontend/assets/images/svg_icons_stripe.svg");
  background-position: -929px -11px;
  border: none;
  display: block;
  height: 15px;
  padding: 0 0 0;
  width: 22px;
}
nav #mobile_menus ul {
  margin: 0;
  padding: 0;
  width: 100%;
}
nav #mobile_menus ul li {
  list-style: none;
  margin-bottom: 18px;
  width: 100%;
}
nav #mobile_menus ul li:last-child {
  margin-bottom: 0;
}
nav #mobile_menus ul li a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #009EBE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 12px/16px "Roboto-Medium";
  padding: 10px 0;
  text-decoration: none;
  width: 100%;
}
nav #mobile_menus ul li a::before {
  background: url("/web-frontend/assets/images/svg_icons_stripe.svg");
  background-position: -967px -10px;
  content: "";
  height: 17px;
  margin-right: 16px;
  width: 19px;
}
nav #mobile_menus ul li#settings_link a::before {
  background-position: -1005px -10px !important;
  height: 20px;
  width: 20px;
}
nav #mobile_menus div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #DBE8ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 42px 0 17px;
  padding-bottom: 15px;
}
nav #mobile_menus div img {
  border-radius: 50%;
  height: 48px;
  margin-right: 12px;
  width: 48px;
}
nav #mobile_menus div span {
  color: #1D333B;
  display: block;
  font: 14px/20px "Roboto-Medium";
}
nav #mobile_menus div span span {
  color: #7D949D;
  font: 12px/16px "Roboto-Medium";
}
nav #overlay {
  background: #1D333B;
  cursor: pointer;
  display: none;
  height: 1000vh;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
@media only screen and (max-width: 580px) {
  nav #user_settings {
    display: none;
  }
  nav .mobile_menu_button {
    display: block;
  }
}
.breadcrumbs_block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 24px 0 23px;
  padding: 0;
}
.breadcrumbs_block a {
  color: #009EBE;
  cursor: pointer;
  font: 14px/20px "Roboto-Medium";
  text-decoration: none;
}
.breadcrumbs_block p {
  color: #7D949D;
  font: 14px/20px "Roboto-Medium";
  margin: 0;
}
.breadcrumbs_block li {
  margin-left: 45px;
  position: relative;
}
.breadcrumbs_block li a,
.breadcrumbs_block li p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.breadcrumbs_block li a .breadcrumbs_icon,
.breadcrumbs_block li p .breadcrumbs_icon {
  background: url("../../images/svg_icons_stripe.svg") no-repeat -201px -10px;
  display: block;
  height: 18px;
  margin-right: 8px;
  width: 18px;
}
.breadcrumbs_block li a .breadcrumbs_icon.section_icon,
.breadcrumbs_block li p .breadcrumbs_icon.section_icon {
  background-position: -238px -10px;
}
.breadcrumbs_block li a .breadcrumbs_icon.component_icon,
.breadcrumbs_block li p .breadcrumbs_icon.component_icon {
  background-position: -386px -10px;
}
.breadcrumbs_block li:first-child {
  margin-left: 0;
}
.breadcrumbs_block li::after {
  background: url("../../images/svg_icons_stripe.svg") no-repeat -423px -9px;
  content: "";
  height: 18px;
  position: absolute;
  right: -33px;
  top: 0;
  width: 18px;
}
.breadcrumbs_block li:last-child::after {
  display: none;
}
