@import url("/web-frontend/assets/css/custom/fonts.css");
/* FONTS */
/* COLORS */
#clone_block {
  display: none;
}
.input_field {
  opacity: 1 !important;
  pointer-events: unset !important;
}
#component_wrapper #left_panel .go_back_btn {
  display: none;
}
#component_wrapper #left_panel .post_block ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#component_wrapper #left_panel .post_block .post_list .post_item:first-child {
  margin-top: 35px;
}
#component_wrapper #left_panel .post_block .post_list .update_reply_form,
#component_wrapper #left_panel .post_block .post_list .update_post_form {
  margin: 12px 0 24px;
}
#component_wrapper #left_panel .post_block .post_list .update_reply_form.update_reply_form,
#component_wrapper #left_panel .post_block .post_list .update_post_form.update_reply_form {
  margin-bottom: 0;
}
#component_wrapper #left_panel .post_block .post_list .update_reply_form.update_post_form label,
#component_wrapper #left_panel .post_block .post_list .update_post_form.update_post_form label {
  background: #FFFFFF;
}
#component_wrapper #left_panel .post_block .post_list .update_reply_form.update_post_form label input,
#component_wrapper #left_panel .post_block .post_list .update_post_form.update_post_form label input {
  background: transparent;
}
#component_wrapper #left_panel .post_block .post_list .message_item {
  background: #F0FDFA;
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 16px 24px 24px;
}
#component_wrapper #left_panel .post_block .post_list .message_item.reply_item {
  padding-bottom: 16px;
}
#component_wrapper #left_panel .post_block .post_list .message_item:last-child {
  margin-bottom: 0;
}
#component_wrapper #left_panel .post_block .post_list .message_item:hover > .header > .action_option_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#component_wrapper #left_panel .post_block .post_list .message_item .header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7D949D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 16px/24px "Roboto-Medium";
}
#component_wrapper #left_panel .post_block .post_list .message_item .header .user_name {
  color: #1D333B;
  font: 16px/24px "Roboto-Medium";
  margin: 0 5px 0 8px;
}
#component_wrapper #left_panel .post_block .post_list .message_item .header .timestamp {
  color: #7D949D;
  font: 16px/24px "Roboto-Regular";
  margin-left: 5px;
}
#component_wrapper #left_panel .post_block .post_list .message_item .header .action_option_btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  margin-left: 24px;
}
#component_wrapper #left_panel .post_block .post_list .message_item .header .action_option_btn button {
  background: #14B8A6;
  border: none;
  border-radius: 5px;
  height: 28px;
  opacity: 0.5;
  width: 28px;
}
#component_wrapper #left_panel .post_block .post_list .message_item .header .action_option_btn button span {
  background: url("../../../images/remove_update_icon.svg") no-repeat -1px 0px;
  display: block;
  height: 18px;
  width: 18px;
}
#component_wrapper #left_panel .post_block .post_list .message_item .header .action_option_btn button span.delete_icon {
  background-position: -28px 0px;
}
#component_wrapper #left_panel .post_block .post_list .message_item .header .action_option_btn button:first-child {
  margin-right: 8px;
}
#component_wrapper #left_panel .post_block .post_list .message_item .header .action_option_btn button:hover {
  opacity: 1;
}
#component_wrapper #left_panel .post_block .post_list .message_item p {
  color: #4B626A;
  font: 14px/20px "Roboto-Regular";
  margin: 6px 0;
}
#component_wrapper #left_panel .post_block .post_list .message_item .show_reply_btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: none;
  color: #14B8A6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 12px/16px "Roboto-Medium";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  outline: none;
  padding: 0;
}
#component_wrapper #left_panel .post_block .post_list .message_item .show_reply_btn.rotate .caret_arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#component_wrapper #left_panel .post_block .post_list .message_item .show_reply_btn .caret_arrow {
  background: url("../../../images/svg_icons_stripe.svg") no-repeat -126px -9px;
  display: block;
  height: 18px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  width: 18px;
}
#component_wrapper #left_panel .post_block .post_list .message_item .reply_details .reply_list .reply_item {
  background: #FFFFFF;
  margin-bottom: 12px;
}
#component_wrapper #left_panel .post_block .post_list .message_item .reply_details .reply_list .reply_item:first-child {
  margin-top: 12px;
}
#component_wrapper #left_panel .post_block .post_list .message_item .reply_details .reply_list .reply_item:last-child {
  margin-bottom: 0;
}
#component_wrapper #left_panel .post_block .post_list .message_item .reply_details .reply_form label {
  background: #FFFFFF;
  margin-top: 12px;
}
#component_wrapper #left_panel .post_block .post_list .message_item .reply_details .reply_form label input {
  background: transparent;
}
#component_wrapper #left_panel .section_details p:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 1100px) {
  #component_wrapper {
    margin: 20px auto;
    max-width: 650px;
    width: 100%;
  }
  #component_wrapper #right_panel {
    display: none;
  }
}
@media screen and (max-width: 719px) {
  #component_wrapper {
    margin: 20px;
    width: calc(100% - 40px);
  }
  #component_wrapper #left_panel .go_back_btn {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: transparent;
    border: none;
    color: #98AFB8;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font: 14px/20px "Roboto-Medium";
    margin-bottom: 11px;
    outline: none;
  }
  #component_wrapper #left_panel .go_back_btn .go_back_icon {
    background: url("../../../images/svg_icons_stripe.svg") no-repeat -423px -9px;
    display: block;
    height: 18px;
    margin-right: 8px;
    opacity: 0.8;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    width: 18px;
  }
  #component_wrapper #left_panel .breadcrumbs_block {
    display: none;
  }
  #component_wrapper #left_panel .section_details {
    min-height: 226px;
  }
  #component_wrapper #left_panel .section_details .title_block {
    margin-bottom: 10px;
  }
  #component_wrapper #left_panel .section_details .title_block #section_title {
    color: #14B8A6;
    font: 16px/24px "Roboto-Medium";
  }
  #component_wrapper #left_panel .section_details p {
    color: #4B626A;
    font: 12px/16px "Roboto-Regular";
  }
}
