@import url("/web-frontend/assets/css/custom/fonts.css");
/* FONTS */
/* COLORS */
#clone_block {
  display: none;
}
.input_field {
  opacity: 1 !important;
  pointer-events: unset !important;
}
#component_wrapper #left_panel .go_back_btn {
  display: none;
}
#component_wrapper #left_panel .post_block ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#component_wrapper #left_panel .post_block .post_list .post_item:first-child {
  margin-top: 35px;
}
#component_wrapper #left_panel .post_block .post_list .update_reply_form,
#component_wrapper #left_panel .post_block .post_list .update_post_form {
  margin: 12px 0 24px;
}
#component_wrapper #left_panel .post_block .post_list .update_reply_form.update_reply_form,
#component_wrapper #left_panel .post_block .post_list .update_post_form.update_reply_form {
  margin-bottom: 0;
}
#component_wrapper #left_panel .post_block .post_list .update_reply_form.update_post_form label,
#component_wrapper #left_panel .post_block .post_list .update_post_form.update_post_form label {
  background: #FFFFFF;
}
#component_wrapper #left_panel .post_block .post_list .update_reply_form.update_post_form label input,
#component_wrapper #left_panel .post_block .post_list .update_post_form.update_post_form label input {
  background: transparent;
}
#component_wrapper #left_panel .post_block .post_list .message_item {
  background: #F0FDFA;
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 16px 24px 24px;
}
#component_wrapper #left_panel .post_block .post_list .message_item.reply_item {
  padding-bottom: 16px;
}
#component_wrapper #left_panel .post_block .post_list .message_item:last-child {
  margin-bottom: 0;
}
#component_wrapper #left_panel .post_block .post_list .message_item:hover > .header > .action_option_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#component_wrapper #left_panel .post_block .post_list .message_item .header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7D949D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 16px/24px "Roboto-Medium";
}
#component_wrapper #left_panel .post_block .post_list .message_item .header .user_name {
  color: #1D333B;
  font: 16px/24px "Roboto-Medium";
  margin: 0 5px 0 8px;
}
#component_wrapper #left_panel .post_block .post_list .message_item .header .timestamp {
  color: #7D949D;
  font: 16px/24px "Roboto-Regular";
  margin-left: 5px;
}
#component_wrapper #left_panel .post_block .post_list .message_item .header .action_option_btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  margin-left: 24px;
}
#component_wrapper #left_panel .post_block .post_list .message_item .header .action_option_btn button {
  background: #14B8A6;
  border: none;
  border-radius: 5px;
  height: 28px;
  opacity: 0.5;
  width: 28px;
}
#component_wrapper #left_panel .post_block .post_list .message_item .header .action_option_btn button span {
  background: url("../../../images/remove_update_icon.svg") no-repeat -1px 0px;
  display: block;
  height: 18px;
  width: 18px;
}
#component_wrapper #left_panel .post_block .post_list .message_item .header .action_option_btn button span.delete_icon {
  background-position: -28px 0px;
}
#component_wrapper #left_panel .post_block .post_list .message_item .header .action_option_btn button:first-child {
  margin-right: 8px;
}
#component_wrapper #left_panel .post_block .post_list .message_item .header .action_option_btn button:hover {
  opacity: 1;
}
#component_wrapper #left_panel .post_block .post_list .message_item p {
  color: #4B626A;
  font: 14px/20px "Roboto-Regular";
  margin: 6px 0;
}
#component_wrapper #left_panel .post_block .post_list .message_item .show_reply_btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: none;
  color: #14B8A6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 12px/16px "Roboto-Medium";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  outline: none;
  padding: 0;
}
#component_wrapper #left_panel .post_block .post_list .message_item .show_reply_btn.rotate .caret_arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#component_wrapper #left_panel .post_block .post_list .message_item .show_reply_btn .caret_arrow {
  background: url("../../../images/svg_icons_stripe.svg") no-repeat -126px -9px;
  display: block;
  height: 18px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  width: 18px;
}
#component_wrapper #left_panel .post_block .post_list .message_item .reply_details .reply_list .reply_item {
  background: #FFFFFF;
  margin-bottom: 12px;
}
#component_wrapper #left_panel .post_block .post_list .message_item .reply_details .reply_list .reply_item:first-child {
  margin-top: 12px;
}
#component_wrapper #left_panel .post_block .post_list .message_item .reply_details .reply_list .reply_item:last-child {
  margin-bottom: 0;
}
#component_wrapper #left_panel .post_block .post_list .message_item .reply_details .reply_form label {
  background: #FFFFFF;
  margin-top: 12px;
}
#component_wrapper #left_panel .post_block .post_list .message_item .reply_details .reply_form label input {
  background: transparent;
}
#component_wrapper #left_panel .section_details p:last-child {
  margin-bottom: 0;
}
#component_wrapper #left_panel .section_details .see_more_btn {
  display: none;
}
#component_wrapper #left_panel #component_list_mobile {
  display: none;
}
@media screen and (max-width: 1100px) {
  #component_wrapper {
    margin: 20px auto;
    max-width: 650px;
    width: 100%;
  }
  #component_wrapper #right_panel {
    display: none;
  }
}
@media screen and (max-width: 719px) {
  #component_wrapper {
    margin: 20px;
    width: calc(100% - 40px);
  }
  #component_wrapper #left_panel .go_back_btn {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: transparent;
    border: none;
    color: #98AFB8;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font: 14px/20px "Roboto-Medium";
    margin-bottom: 11px;
    outline: none;
  }
  #component_wrapper #left_panel .go_back_btn .go_back_icon {
    background: url("../../../images/svg_icons_stripe.svg") no-repeat -423px -9px;
    display: block;
    height: 18px;
    margin-right: 8px;
    opacity: 0.8;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    width: 18px;
  }
  #component_wrapper #left_panel .breadcrumbs_block {
    display: none;
  }
  #component_wrapper #left_panel .section_details {
    min-height: 226px;
  }
  #component_wrapper #left_panel .section_details .title_block {
    margin-bottom: 10px;
  }
  #component_wrapper #left_panel .section_details .title_block #section_title {
    color: #14B8A6;
    font: 16px/24px "Roboto-Medium";
  }
  #component_wrapper #left_panel .section_details p {
    color: #4B626A;
    font: 12px/16px "Roboto-Regular";
  }
  #component_wrapper #left_panel .section_details p.is_hide {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #component_wrapper #left_panel .section_details .see_more_btn {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: transparent;
    border: none;
    color: #14B8A6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font: 12px/16px "Roboto-Medium";
    margin: 0 auto;
    outline: none;
  }
  #component_wrapper #left_panel .section_details .see_more_btn .see_more_icon {
    background: url("../../../images/mobile_svg_components.svg") no-repeat 6px 3px;
    display: block;
    height: 18px;
    margin-left: 3px;
    width: 18px;
  }
  #component_wrapper #left_panel .section_details .see_more_btn.is_show .see_more_icon {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  #component_wrapper #left_panel #component_list {
    display: none;
  }
  #component_wrapper #left_panel #component_list_mobile {
    display: block;
  }
  #component_wrapper #left_panel #component_list_mobile .component_block {
    background-color: #FFFFFF;
    border-radius: 8px;
    height: auto;
    margin-top: 30px;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  #component_wrapper #left_panel #component_list_mobile .component_block .carousel-indicators button {
    background-color: #7D949D;
    border-radius: 50%;
    height: 12px;
    width: 12px;
  }
  #component_wrapper #left_panel #component_list_mobile .component_block .carousel-indicators button.active {
    background-color: #14B8A6;
  }
  #component_wrapper #left_panel #component_list_mobile .component_block .carousel-item {
    padding: 25px 25px 90px;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  #component_wrapper #left_panel #component_list_mobile .component_block .carousel-item .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
  }
  #component_wrapper #left_panel #component_list_mobile .component_block .carousel-item .header .tab_title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #14B8A6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font: 14px/20px "Roboto-Medium";
    margin: 0;
  }
  #component_wrapper #left_panel #component_list_mobile .component_block .carousel-item .header .tab_title .caret_icon {
    background: url("../../../images/mobile_svg_components.svg") no-repeat 4px 3px;
    display: inline-block;
    height: 18px;
    margin-right: 5px;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    width: 18px;
  }
  #component_wrapper #left_panel #component_list_mobile .component_block .carousel-item .header .current_tab {
    color: #B3CAD4;
    display: block;
    font: 12px/16px "Roboto-Regular";
    margin-left: auto;
  }
  #component_wrapper #left_panel #component_list_mobile .component_block .carousel-item .tab_details {
    padding: 0;
  }
  #component_wrapper #left_panel #component_list_mobile .component_block.is_hide {
    border-radius: 8px;
    height: 62px;
    overflow: hidden;
  }
  #component_wrapper #left_panel #component_list_mobile .component_block.is_hide .carousel-indicators {
    display: none;
  }
  #component_wrapper #left_panel #component_list_mobile .component_block.is_hide .carousel-item {
    padding: 22px 25px 90px;
  }
  #component_wrapper #left_panel #component_list_mobile .component_block.is_hide .carousel-item .header .tab_title .caret_icon {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
.comments_block_mobile {
  background-color: #E7EFF6;
  height: calc(100% - 64px);
  overflow: auto;
  padding: 0px 24px 90px;
  position: fixed;
  top: 64px;
  width: 100%;
  z-index: 10;
}
.comments_block_mobile .handle_hide_btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E7EFF6;
  border: 1px solid #E7EFF6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
}
.comments_block_mobile .handle_hide_btn .handle_icon {
  background: #14B8A6;
  border-radius: 8px;
  display: block;
  height: 2px;
  width: 72px;
}
.comments_block_mobile ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.comments_block_mobile .post_message_list .timestamp {
  color: #7D949D;
  font: 12px/16px "Roboto-Regular";
}
.comments_block_mobile .post_message_list .post_item {
  background-color: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 25px;
  padding: 20px;
  width: 100%;
}
.comments_block_mobile .post_message_list .post_item:last-child {
  margin-bottom: 0;
}
.comments_block_mobile .post_message_list .post_item .header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.comments_block_mobile .post_message_list .post_item .header img {
  height: 40px;
  margin-right: 8px;
  width: 40px;
}
.comments_block_mobile .post_message_list .post_item .header .user_name {
  color: #4B626A;
  font: 16px/24px "Roboto-Medium";
}
.comments_block_mobile .post_message_list .post_item .header .message_actions_block {
  margin-left: auto;
}
.comments_block_mobile .post_message_list .post_item .header .message_actions_block .show_message_actions {
  background: url("../../../images/comment_thread_mobile_icons.svg") no-repeat -61px 0px;
  border: none;
  display: block;
  height: 18px;
  width: 18px;
}
.comments_block_mobile .post_message_list .post_item .message_details {
  padding-left: 48px;
}
.comments_block_mobile .post_message_list .post_item .message_details .user_post_message {
  color: #4B626A;
  font: 14px/20px "Roboto-Regular";
  margin-bottom: 6px;
}
.comments_block_mobile .post_message_list .post_item .message_details .show_reply_btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  color: #14B8A6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 12px/16px "Roboto-Regular";
  margin-bottom: 7px;
  outline: none;
}
.comments_block_mobile .post_message_list .post_item .message_details .show_reply_btn .caret_arrow {
  background: url("../../../images/comment_thread_mobile_icons.svg") no-repeat -148px 0px;
  display: inline-block;
  height: 18px;
  margin-right: 5px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  width: 18px;
}
.comments_block_mobile .post_message_list .post_item .message_details .reply_list .reply_item {
  background: #F0FDFA;
  margin-bottom: 25px;
  padding: 12px;
}
.comments_block_mobile .post_message_list .post_item .message_details .reply_list .reply_item:last-child {
  margin-bottom: 0;
}
.comments_block_mobile .post_message_list .post_item .message_details .reply_list .reply_item .header {
  margin-bottom: 6px;
}
.comments_block_mobile .post_message_list .post_item .message_details .reply_list .reply_item img {
  height: 28px;
  width: 28px;
}
.comments_block_mobile .post_message_list .post_item .message_details .reply_list .reply_item .user_reply_message {
  color: #4B626A;
  font: 14px/20px "Roboto-Regular";
  margin: 0;
}
.comments_block_mobile .post_message_list .post_item .message_details .see_more_btn {
  margin-bottom: 0;
}
.comments_block_mobile .see_more_btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: transparent;
  color: #14B8A6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 12px/16px "Roboto-Regular";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto;
  outline: none;
  width: 100%;
}
.comments_block_mobile .see_more_btn .caret_down {
  background: url("../../../images/svg_icons_stripe.svg") no-repeat -126px -9px;
  display: block;
  height: 18px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  width: 18px;
}
.comments_block_mobile .post_reply_block {
  background: #E7EFF6;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 90px;
  position: fixed;
  width: calc(100% - 48px);
}
.comments_block_mobile .post_reply_block #post_reply_form {
  width: 100%;
}
.comments_block_mobile .post_reply_block #post_reply_form .input_field {
  background-color: #FFFFFF;
  position: relative;
}
.comments_block_mobile .post_reply_block #post_reply_form .input_field input {
  background: transparent;
}
.comments_block_mobile .post_reply_block #post_reply_form .input_field .char_count {
  bottom: -25px;
  position: absolute;
  right: 0;
}
