@import url("/web-frontend/assets/css/custom/fonts.css");
/* FONTS */
/* COLORS */
#clone_section {
  display: none;
}
#section_wrapper {
  max-width: 1055px;
  margin: 24px auto 0;
}
#section_wrapper > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}
#section_wrapper > ul li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
#section_wrapper > ul li::before {
  margin-right: 11px;
}
#section_wrapper > ul li a {
  text-decoration: none;
}
#section_wrapper > ul li a span {
  font: 14px/20px "Roboto-Medium";
  color: #009EBE;
}
#section_wrapper > ul li.documentation_link::before {
  background: url("/web-frontend/assets/images/svg_icons_stripe.svg");
  background-position: -202px -12px;
  content: "";
  height: 12px;
  width: 16px;
}
#section_wrapper > ul li.section_link::before {
  background: url("/web-frontend/assets/images/svg_icons_stripe.svg");
  background-position: -348px -12px;
  content: "";
  height: 13px;
  width: 18px;
}
#section_wrapper > ul li:after {
  background: url("/web-frontend/assets/images/svg_icons_stripe.svg");
  background-position: -426px -11px;
  content: "";
  height: 14px;
  margin: 0 18px;
  width: 10px;
}
#section_wrapper > ul li:last-child::after {
  display: none;
}
#section_wrapper > ul li.active a span {
  color: #7D949D;
}
#section_wrapper #section_main_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 23px 0 0;
}
#section_wrapper #section_main_contents #documents_information {
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 23px 24px 29px;
  width: 360px;
}
#section_wrapper #section_main_contents #documents_information input[type=text] {
  border: none;
  outline: none;
  padding: 0 0 0;
  width: 100%;
}
#section_wrapper #section_main_contents #documents_information #documents_title {
  font: 22px/28px "Roboto-Regular";
  color: #1D333B;
  margin: 0 0 0;
}
#section_wrapper #section_main_contents #documents_information #viewers_editors_count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 17px 0 24px;
}
#section_wrapper #section_main_contents #documents_information #viewers_editors_count::before {
  background: url("/web-frontend/assets/images/svg_icons_stripe.svg");
  background-position: -815px -12px;
  content: "";
  height: 11px;
  margin-right: 5px;
  width: 21px;
}
#section_wrapper #section_main_contents #documents_information #viewers_editors_count span {
  color: #009EBE;
  font: 12px/16px "Roboto-Medium";
}
#section_wrapper #section_main_contents #documents_information #document_description_container p:first-of-type {
  margin: 0 0 25px;
}
#section_wrapper #section_main_contents #documents_information #document_description_container p,
#section_wrapper #section_main_contents #documents_information #document_description_container textarea {
  color: #4B626A;
  font: 16px/24px "Roboto-Regular";
  margin: 0 0 0;
  outline: none;
}
#section_wrapper #section_main_contents #documents_information #document_description_container #see_more_button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  color: #009EBE;
  display: none;
  font: 12px/16px "Roboto-Medium";
  margin: 11px auto 0;
  text-decoration: none;
}
#section_wrapper #section_main_contents #documents_information #document_description_container #see_more_button.open::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
#section_wrapper #section_main_contents #documents_information #document_description_container #see_more_button::after {
  background: url("/web-frontend/assets/images/svg_icons_stripe.svg");
  background-position: -1118px -15px;
  content: "";
  height: 5px;
  margin-left: 5px;
  -webkit-transition: all 0.21s;
  transition: all 0.21s;
  width: 9px;
}
#section_wrapper #section_main_contents #sections_block {
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 24px;
  width: 663px;
}
#section_wrapper #section_main_contents #sections_block #search_section_form {
  position: relative;
}
#section_wrapper #section_main_contents #sections_block #search_section_form.floated {
  background-color: rgba(20, 184, 166, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  padding: 20px 0 20px 393px;
  position: fixed;
  top: 65px;
  width: 100%;
  z-index: 99;
}
#section_wrapper #section_main_contents #sections_block #search_section_form.floated > div {
  margin: 0 auto;
  position: relative;
  width: 663px;
}
@media only screen and (max-width: 1120px) {
  #section_wrapper #section_main_contents #sections_block #search_section_form.floated {
    padding: 20px 35px 20px 406px;
  }
}
@media only screen and (max-width: 980px) {
  #section_wrapper #section_main_contents #sections_block #search_section_form.floated {
    padding: 20px 35px 20px 335px;
  }
}
@media only screen and (max-width: 768px) {
  #section_wrapper #section_main_contents #sections_block #search_section_form.floated {
    padding: 20px 0 20px 0;
  }
}
#section_wrapper #section_main_contents #sections_block #search_section_form label {
  background-color: #F0FDFA;
  border-radius: 8px 8px 0px 0px;
  border-bottom: 2px solid #14B8A6;
  height: 58px;
  padding: 8px 0 0 11px;
  width: 100%;
}
#section_wrapper #section_main_contents #sections_block #search_section_form label span {
  display: block;
  font: 12px/16px "Roboto-Medium";
}
#section_wrapper #section_main_contents #sections_block #search_section_form label input[type=text] {
  background-color: transparent;
  border: none;
  font: 16px/24px "Roboto-Medium";
  outline: none;
  width: 100%;
  color: #1D333B;
}
#section_wrapper #section_main_contents #sections_block #search_section_form button {
  background: url("/web-frontend/assets/images/svg_icons_stripe.svg");
  background-position: -1077px -5px;
  border: none;
  content: "";
  height: 26px;
  outline: none;
  position: absolute;
  right: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 26px;
}
#section_wrapper #section_main_contents #sections_block ul {
  margin: 12px 0 0;
  padding: 0 0 0;
}
#section_wrapper #section_main_contents #sections_block ul li {
  border-radius: 8px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  height: 94px;
  list-style: none;
  margin-bottom: 12px;
}
#section_wrapper #section_main_contents #sections_block ul li:last-child {
  margin-bottom: 0;
}
#section_wrapper #section_main_contents #sections_block ul li:hover a div h3 button {
  opacity: 1;
}
#section_wrapper #section_main_contents #sections_block ul li a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  outline: none;
  text-decoration: none;
}
#section_wrapper #section_main_contents #sections_block ul li a div:first-child {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(94, 234, 212, 0.5);
  border-radius: 8px 0px 0px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 8px;
  width: 8px;
}
#section_wrapper #section_main_contents #sections_block ul li a div:first-child::before {
  display: none;
}
#section_wrapper #section_main_contents #sections_block ul li a div:last-child {
  padding: 0 26px;
}
#section_wrapper #section_main_contents #sections_block ul li a div p {
  color: #7D949D;
  font: 14px/20px "Roboto-Medium";
  margin: 0 0 0;
}
#section_wrapper #section_main_contents #sections_block ul li a div h3 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}
#section_wrapper #section_main_contents #sections_block ul li a div h3 span {
  font: 16px/20px "Roboto-Medium";
  margin-right: 30px;
  color: #14B8A6;
}
#section_wrapper #section_main_contents #sections_block #no_section_data_logo {
  display: block;
  margin: 200px auto;
}
@media only screen and (max-width: 1120px) {
  #section_wrapper {
    max-width: 100%;
    padding: 0 35px;
    width: 100%;
  }
  #section_wrapper #section_main_contents #documents_information {
    margin-right: 32px;
  }
  #section_wrapper #section_main_contents #sections_block {
    width: 67%;
  }
}
@media only screen and (max-width: 980px) {
  #section_wrapper #section_main_contents #documents_information {
    width: 280px;
  }
  #section_wrapper #section_main_contents #sections_block {
    width: 70%;
  }
}
@media only screen and (max-width: 768px) {
  #section_wrapper {
    padding: 0 25px 25px;
  }
  #section_wrapper #section_main_contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #section_wrapper #section_main_contents #documents_information {
    margin-right: 0;
    margin-bottom: 32px;
    width: 100%;
  }
  #section_wrapper #section_main_contents #documents_information,
  #section_wrapper #section_main_contents #sections_block {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  #section_wrapper {
    margin: 12px auto 0;
    padding: 0 25px 18px;
  }
  #section_wrapper > ul li a span {
    font: 14px/20px "Roboto-Medium";
  }
  #section_wrapper > ul li.documentation_link::before {
    background: url("/web-frontend/assets/images/svg_icons_stripe.svg");
    background-position: -1142px -11px;
    content: "";
    height: 15px;
    margin: 0 12px 0 0;
    min-width: 10px;
    width: 10px;
  }
  #section_wrapper > ul li.documentation_link a span {
    display: none;
  }
  #section_wrapper > ul li.documentation_link a::after {
    background: none;
    color: #98AFB8;
    content: "Go Back" !important;
    display: block;
    font: 14px/20px "Roboto-Medium";
    height: auto;
    margin: 0 0 0 0;
    width: 100%;
  }
  #section_wrapper > ul li::after {
    display: none;
  }
  #section_wrapper > ul li::after {
    display: none;
  }
  #section_wrapper > ul li:last-child {
    display: none;
  }
  #section_wrapper #section_main_contents {
    margin: 12px 0 0;
  }
  #section_wrapper #section_main_contents #documents_information {
    margin-bottom: 12px;
    padding: 22px 21px 11px;
  }
  #section_wrapper #section_main_contents #documents_information #documents_title {
    font: 16px/24px "Roboto-Medium";
    margin-bottom: 10px;
  }
  #section_wrapper #section_main_contents #documents_information #viewers_editors_count {
    display: none;
  }
  #section_wrapper #section_main_contents #documents_information #document_description_container p:first-of-type {
    margin: 0 0 13px;
  }
  #section_wrapper #section_main_contents #documents_information #document_description_container p {
    font: 12px/16px "Roboto-Regular";
  }
  #section_wrapper #section_main_contents #documents_information #document_description_container .shown {
    display: block !important;
  }
  #section_wrapper #section_main_contents #documents_information #document_description_container .description {
    display: none;
  }
  #section_wrapper #section_main_contents #documents_information #document_description_container #see_more_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #section_wrapper #section_main_contents #sections_block {
    background-color: transparent;
    padding: 0;
  }
  #section_wrapper #section_main_contents #sections_block #search_section_form {
    display: none;
  }
  #section_wrapper #section_main_contents #sections_block ul li {
    border-radius: 0 8px 8px 0;
    height: 92px;
  }
  #section_wrapper #section_main_contents #sections_block ul li a div:first-child {
    background-color: #99F6E4;
    border-radius: 0;
    min-width: 8px;
    width: 8px;
  }
  #section_wrapper #section_main_contents #sections_block ul li a div:first-child::before {
    display: none;
  }
  #section_wrapper #section_main_contents #sections_block ul li a div h3 span {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    font: 12px/16px "Roboto-Medium";
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 0;
  }
  #section_wrapper #section_main_contents #sections_block ul li a div p {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    font: 12px/16px "Roboto-Medium";
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
#confirm_private_modal .modal-dialog {
  background-color: #FFFFFF;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  margin: 160px auto;
  max-width: 328px;
  padding: 20px 35px 24px;
}
#confirm_private_modal .modal-dialog .modal-content {
  border: none;
}
#confirm_private_modal .modal-dialog .modal-content p {
  color: #4B626A;
  font: 16px/24px "Roboto-Regular";
  margin: 0 0 17px;
  text-align: center;
}
#confirm_private_modal .modal-dialog .modal-content p span {
  font: 16px/24px "Roboto-Regular";
}
#confirm_private_modal .modal-dialog .modal-content div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
#confirm_private_modal .modal-dialog .modal-content div button {
  background-color: transparent;
  border: none;
  color: #7D949D;
  font: 16px/24px "Roboto-Medium";
  height: 40px;
  width: 80px;
}
#confirm_private_modal .modal-dialog .modal-content div button:last-child {
  background-color: #009EBE;
  border-radius: 8px;
  color: #FFFFFF;
  margin-left: 24px;
  -webkit-transition: 0.21s;
  transition: 0.21s;
}
#confirm_private_modal .modal-dialog .modal-content div button:last-child:hover {
  opacity: 0.8;
}
