<div class="comments_block_mobile hidden">
    <button class="handle_hide_btn" data-drog><span class="handle_icon"></span></button>
    <ul class="post_message_list">
        <li class="post_item">
            <div class="header">
                <img src="../../assets/images/Image.png" alt="User Profile">
                <span class="user_name">Ruel</span>

                <div class="message_actions_block">
                    <button class="show_message_actions"></button>
                </div>
            </div>
            
            <div class="message_details">
                <p class="user_post_message">Sample Text sample text SAMPLE TEXT</p>
    
                <button class="show_reply_btn"><span class="timestamp">5 mins</span> <span class="caret_arrow"></span> 0 Reply</button>
    
                <ul class="reply_list">
                    <li class="reply_item">
                        <div class="header">
                            <img src="../../assets/images/Image.png" alt="User Profile">
                            <span class="user_name">Ruel</span>
                            ∙
                            <span class="timestamp">1 min ago</span>

                            <div class="message_actions_block">
                                <button class="show_message_actions"></button>
                            </div>
                        </div>
                        <p class="user_reply_message">SAMPLE REPLY TEXT sample reply repl text</p>
                    </li>
                    <li class="reply_item">
                        <div class="header">
                            <img src="../../assets/images/Image.png" alt="User Profile">
                            <span class="user_name">Ruel</span>
                            ∙
                            <span class="timestamp">1 min ago</span>

                            <div class="message_actions_block">
                                <button class="show_message_actions"></button>
                            </div>
                        </div>
                        <p class="user_reply_message">SAMPLE REPLY TEXT sample reply repl text</p>
                    </li>
                    <li class="reply_item">
                        <div class="header">
                            <img src="../../assets/images/Image.png" alt="User Profile">
                            <span class="user_name">Ruel</span>
                            ∙
                            <span class="timestamp">1 min ago</span>

                            <div class="message_actions_block">
                                <button class="show_message_actions"></button>
                            </div>
                        </div>
                        <p class="user_reply_message">SAMPLE REPLY TEXT sample reply repl text</p>
                    </li>
                </ul>
                
                <button class="see_more_btn">See More <span class="caret_down"></span></button>
            </div>
        </li>
        <li class="post_item">
            <div class="header">
                <img src="../../assets/images/Image.png" alt="User Profile">
                <span class="user_name">Ruel</span>

                <div class="message_actions_block">
                    <button class="show_message_actions"></button>
                </div>
            </div>
            
            <div class="message_details">
                <p class="user_post_message">Sample Text sample text SAMPLE TEXT</p>
    
                <button class="show_reply_btn"><span class="timestamp">5 mins</span> <span class="caret_arrow"></span> 0 Reply</button>
    
                <ul class="reply_list">
                    <li class="reply_item">
                        <div class="header">
                            <img src="../../assets/images/Image.png" alt="User Profile">
                            <span class="user_name">Ruel</span>
                            ∙
                            <span class="timestamp">1 min ago</span>

                            <div class="message_actions_block">
                                <button class="show_message_actions"></button>
                            </div>
                        </div>
                        <p class="user_reply_message">SAMPLE REPLY TEXT sample reply repl text</p>
                    </li>
                </ul>
            </div>
        </li>
        <li class="post_item">
            <div class="header">
                <img src="../../assets/images/Image.png" alt="User Profile">
                <span class="user_name">Ruel</span>

                <div class="message_actions_block">
                    <button class="show_message_actions"></button>
                </div>
            </div>
            
            <div class="message_details">
                <p class="user_post_message">Sample Text sample text SAMPLE TEXT</p>
    
                <button class="show_reply_btn"><span class="timestamp">5 mins</span> <span class="caret_arrow"></span> 0 Reply</button>
    
                <ul class="reply_list">
                    <li class="reply_item">
                        <div class="header">
                            <img src="../../assets/images/Image.png" alt="User Profile">
                            <span class="user_name">Ruel</span>
                            ∙
                            <span class="timestamp">1 min ago</span>

                            <div class="message_actions_block">
                                <button class="show_message_actions"></button>
                            </div>
                        </div>
                        <p class="user_reply_message">SAMPLE REPLY TEXT sample reply repl text</p>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

    <button class="see_more_btn">See More <span class="caret_down"></span></button>

    <div class="post_reply_block">
        <form action="#" id="post_reply_form" method="POST">
            <input type="hidden" name="is_reply" id="is_reply">
            <label class="input_field">
                <span>Post</span>
                <input type="text" class="reply_post_input" class="required_input" maxlength="250" placeholder="Message item...">
                <span class="char_count">0/250</span>
            </label>
        </form>
    </div>
</div>