<div class="comments_block_mobile hidden">
    <button class="handle_hide_btn" data-drog><span class="handle_icon"></span></button>
    
    <ul class="post_message_list">
        <li id="post_1" class="post_item">
            <div class="header">
                <img src="../../assets/images/Image.png" alt="User Profile">
                <span class="user_name">Ruel</span>

                <div class="message_actions_block">
                    <button class="show_message_actions"></button>
                </div>
            </div>
            
            <div class="message_details">
                <p class="user_post_message">Sample Text sample text SAMPLE TEXT</p>
    
                <button class="show_reply_btn"><span class="timestamp">5 mins</span> <span class="caret_arrow"></span> <span class="reply_text">4 replies</span></button>
    
                <ul class="reply_list hideContent">
                    <li id="reply_1" class="reply_item">
                        <div class="header">
                            <img src="../../assets/images/Image.png" alt="User Profile">
                            <span class="user_name">Ruel</span>
                            ∙
                            <span class="timestamp">1 min ago</span>

                            <div class="message_actions_block">
                                <button class="show_message_actions"></button>
                            </div>
                        </div>
                        <p class="user_reply_message">SAMPLE REPLY TEXT sample reply repl text</p>
                    </li>
                    <li id="reply_2" class="reply_item">
                        <div class="header">
                            <img src="../../assets/images/Image.png" alt="User Profile">
                            <span class="user_name">Ruel</span>
                            ∙
                            <span class="timestamp">1 min ago</span>

                            <div class="message_actions_block">
                                <button class="show_message_actions"></button>
                            </div>
                        </div>
                        <p class="user_reply_message">SAMPLE REPLY TEXT sample reply repl text</p>
                    </li>
                    <li id="reply_3" class="reply_item">
                        <div class="header">
                            <img src="../../assets/images/Image.png" alt="User Profile">
                            <span class="user_name">Ruel</span>
                            ∙
                            <span class="timestamp">1 min ago</span>

                            <div class="message_actions_block">
                                <button class="show_message_actions"></button>
                            </div>
                        </div>
                        <p class="user_reply_message">SAMPLE REPLY TEXT sample reply repl text</p>
                    </li>
                    <li id="reply_7" class="reply_item">
                        <div class="header">
                            <img src="../../assets/images/Image.png" alt="User Profile">
                            <span class="user_name">Ruel</span>
                            ∙
                            <span class="timestamp">1 min ago</span>

                            <div class="message_actions_block">
                                <button class="show_message_actions"></button>
                            </div>
                        </div>
                        <p class="user_reply_message">SAMPLE REPLY TEXT sample reply repl text</p>
                    </li>
                </ul>
                
                <button class="see_more_btn more_replies_btn hidden">See More<span class="caret_down"></span></button>
            </div>
        </li>
        <li id="post_2" class="post_item">
            <div class="header">
                <img src="../../assets/images/Image.png" alt="User Profile">
                <span class="user_name">Ruel</span>

                <div class="message_actions_block">
                    <button class="show_message_actions"></button>
                </div>
            </div>
            
            <div class="message_details">
                <p class="user_post_message">Sample Text sample text SAMPLE TEXT</p>
    
                <button class="show_reply_btn"><span class="timestamp">5 mins</span> <span class="caret_arrow"></span> <span class="reply_text">1 reply</span></button>
    
                <ul class="reply_list hideContent">
                    <li id="reply_4" class="reply_item">
                        <div class="header">
                            <img src="../../assets/images/Image.png" alt="User Profile">
                            <span class="user_name">Ruel</span>
                            ∙
                            <span class="timestamp">1 min ago</span>

                            <div class="message_actions_block">
                                <button class="show_message_actions"></button>
                            </div>
                        </div>
                        <p class="user_reply_message">SAMPLE REPLY TEXT sample reply repl text</p>
                    </li>
                </ul>
            </div>
        </li>
        <li id="post_3" class="post_item">
            <div class="header">
                <img src="../../assets/images/Image.png" alt="User Profile">
                <span class="user_name">Ruel</span>

                <div class="message_actions_block">
                    <button class="show_message_actions"></button>
                </div>
            </div>
            
            <div class="message_details">
                <p class="user_post_message">Sample Text sample text SAMPLE TEXT</p>
    
                <button class="show_reply_btn"><span class="timestamp">5 mins</span> <span class="caret_arrow"></span> <span class="reply_text">1 reply</span></button>
    
                <ul class="reply_list hideContent">
                    <li id="reply_5" class="reply_item">
                        <div class="header">
                            <img src="../../assets/images/Image.png" alt="User Profile">
                            <span class="user_name">Ruel</span>
                            ∙
                            <span class="timestamp">1 min ago</span>

                            <div class="message_actions_block">
                                <button class="show_message_actions"></button>
                            </div>
                        </div>
                        <p class="user_reply_message">SAMPLE REPLY TEXT sample reply repl text</p>
                    </li>
                </ul>
            </div>
        </li>
        <li id="post_4" class="post_item">
            <div class="header">
                <img src="../../assets/images/Image.png" alt="User Profile">
                <span class="user_name">Ruel</span>

                <div class="message_actions_block">
                    <button class="show_message_actions"></button>
                </div>
            </div>

            <div class="message_details">
                <p class="user_post_message">See more</p>

                <button class="show_reply_btn"><span class="timestamp">5 mins</span> <span class="caret_arrow"></span> <span class="reply_text">1 reply</span></button>

                <ul class="reply_list hideContent">
                    <li id="reply_6" class="reply_item">
                        <div class="header">
                            <img src="../../assets/images/Image.png" alt="User Profile">
                            <span class="user_name">Ruel</span>
                            ∙
                            <span class="timestamp">1 min ago</span>

                            <div class="message_actions_block">
                                <button class="show_message_actions"></button>
                            </div>
                        </div>
                        <p class="user_reply_message">SAMPLE REPLY TEXT sample reply repl text</p>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

    <button id="see_all_comments_btn" class="see_more_btn">See More<span class="caret_down"></span></button>

    <div class="no_post_result_mobile hidden">
        <span class="no_post_icon"></span>
        No post yet.
    </div>

    <div class="post_reply_block">
        <form action="#" id="post_reply_form" data-action_id="1" method="POST">
            <input type="hidden" name="is_reply" id="is_reply">
            <label class="input_field">
                <h3>Post</h3>
                <input type="text" class="reply_post_input" class="required_input" maxlength="250" placeholder="Message item...">
                <span class="char_count">0/250</span>
            </label>
        </form>
    </div>

    <li id="post_item_clone" class="post_item hidden">
        <div class="header">
            <img src="../../assets/images/Image.png" alt="User Profile">
            <span class="user_name">Arthur</span>
            <div class="message_actions_block">
                <button class="show_message_actions"></button>
            </div>
        </div>
        <div class="message_details">
            <p class="user_post_message"></p>
            <button class="show_reply_btn"><span class="timestamp">now</span> <span class="caret_arrow"></span><span class="reply_text"> 0 Reply</span></button>
            <ul class="reply_list"></ul>
        </div>
    </li>

    <li id="reply_item_clone" class="reply_item hidden">
        <div class="header">
            <img src="../../assets/images/Image.png" alt="User Profile">
            <span class="user_name">Arthur</span>
            ∙
            <span class="timestamp">now</span>

            <div class="message_actions_block">
                <button class="show_message_actions"></button>
            </div>
        </div>
        <p class="user_reply_message">SAMPLE REPLY TEXT sample reply repl text</p>
    </li>
</div>