@import url("../variables.less");

#component_wrapper{
    display: flex;
    margin: 0 auto;
    width: 1045px;

    #left_panel{
        width: 812px;

        .section_details{
            background: url("../../../images/section_bg.png") no-repeat right 0px, @white;
            border-radius: 8px;
            height: 244px;
            padding: 24px;

            .title_block{
                align-items: center;
                display: flex;
                margin-bottom: 19px;

                #section_title{
                    border: none;
                    color: @secondary_20;
                    font: 22px/28px @font_regular;
                    outline: none;
                    min-width: 130px;
                    width: 130px;
                }

                button{
                    background: @teal_50;
                    border-radius: 5px;
                    border: none;
                    color: @teal_500;
                    font: 12px/16px @font_medium;
                    height: 34px;
                    margin-left: 24px;
                    outline: none;
                    width: 104px;
                }
            }

            #section_details{
                background: transparent;
                border: none;
                color: @secondary_40;
                font: 16px/24px @font_regular;
                height: 143px;
                outline: none;
                resize: none;
                width: 100%;
            }
        }

        #component_list{
            margin-top: 24px;

            .component_block{
                margin-bottom: 24px;

                &:last-child{
                    margin-bottom: 0;
                }

                .tab_list{
                    align-items: center;
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0;
                    padding: 0;

                    li{
                        align-items: center;
                        display: flex;
                        height: 44px;
                        justify-content: center;

                        &.add_tab{
                            background: @teal_500;
                            border: 1px solid @teal_500;
                            height: 44px;
                            width: 42.5px;

                            button{
                                align-items: center;
                                background: url("../../../images/svg_icons_stripe.svg") no-repeat -547px 3px;
                                border: none;
                                display: flex;
                                height: 100%;
                                justify-content: center;
                                width: 100%;
                            }
                        }

                        &.tab_item{
                            background: @teal_50;
                            border: 1px solid @secondary_90;
                            padding: 0 8px;
                            transition: .25s ease-in-out;

                            &.active{
                                background: @white;
                                border-top: 2px solid @teal_500;
                            }

                            .tab_name{
                                color: @teal_500;
                                cursor: pointer;
                                font: 14px/20px @font_regular;
                            }

                            .remove_tab{
                                background: url("../../../images/svg_icons_stripe.svg") no-repeat -497.5px -11px;
                                border: none;
                                height: 18px;
                                margin-left: 10px;
                                outline: none;
                                width: 18px;
                            }
                        }
                    }
                }

                form{
                    background: @white;
                    padding: 24px;
                    border-radius: 0 0 8px 8px;

                    label{
                        background-color: @teal_50;
                        border-bottom: 2px solid @teal_500;
                        border-radius: 8px 8px 0px 0px;
                        height: 56px;
                        padding: 7px 16px;
                        position: relative;
                        width: 100%;

                        span{
                            color: @teal_500;
                            display: block;
                            font: 12px/16px @font_regular;
                        }
                        input[type=text]{
                            background: @teal_50;
                            border: none;
                            color: @secondary_40;
                            font: 14px/20px @font_medium;
                            outline: none;
                            padding: 0;
                            width: 100%;
                       }
                    }

                    .rx-container{
                        border-radius: 8px;
                        border: 1px solid @secondary_90;
                        margin-top: 24px;

                        .rx-toolbar-container{
                            background: @primary98;
                            border-bottom: none;
                            border-radius: 8px 8px 0 0;
                        }

                        .rx-editor-container{
                            p{
                                color: @secondary_40;
                                font: 14px/20px @font_regular;
                            }
                        }
                    }
                }
            }
        }

        #add_component{
            align-items: center;
            background: @teal_50;
            border-radius: 8px;
            border: 3px dashed @teal_500;
            display: flex;
            height: 120px;
            justify-content: center;
            margin: 24px 0;
            position: relative;
            width: 100%;

            &::after{
                background: url("../../../images/svg_icons_stripe.svg") no-repeat -595px 0px;
                content: "";
                height: 36px;
                position: absolute;
                width: 36px;
            }
        }
    }

    #right_panel{
        height: 100%;
        margin: 0 0 0 auto;
        padding-top: 67px;
        position: sticky;
        top: 0;
        width: 201px;

        h3{
            align-items: center;
            color: @secondary_20;
            display: flex;
            font: 16px/24px @font_regular;
            margin-bottom: 12px;

            .info_icon{
                background: url("../../../images/svg_icons_stripe.svg") no-repeat -462px -10px;
                display: inline-block;
                height: 18px;
                width: 18px;
                margin-left: 8px;
            }
        }

        #section_list{
            padding: 12px 0 12px 0;
            list-style: none;
            border-left: 1px solid rgba(125, 148, 157, 0.5);

            li{
                cursor: pointer;
                margin-bottom: 24px;
                padding-left: 25px;
                transition: .25s ease-in-out;

                &:last-child{
                    margin-bottom: 0;
                }

                a{
                    color: @teal_500;
                    font: 14px/20px @font_regular;
                    text-decoration: none;
                    opacity: .5;
                    pointer-events: none;

                    &:hover{
                        opacity: 1;
                    }
                }

                &.active{
                    border-left: 2px solid @secondary_20;
                    padding-left: 23px;
                    transition: .25s ease-in-out;

                    a{
                        color: @secondary_20;
                        font: 14px/20px @font_medium;
                        opacity: 1;
                        transition: .25s ease-in-out;
                    }
                }
            }
        }
    }
}

#clone_block{
    display: none;
}