@import url("./variables.less");

*{
    font: 14px/18px @font_regular;
}

.hidden{
    display: none !important;
}

.disabled{
    pointer-events: none;
}

.input_focused{
    background: #F0FDFA !important;
    border-radius: 4px !important;
    color: rgba(0,11,29,.4) !important;
    padding: 8px !important;
}

.input_error{
    border: 1px solid @red;
    border-bottom: 2px solid @red !important;
    span{
        color: @red !important;
    }
}

#confirm_modal{
    .modal-dialog{
        background-color: @white;
        border-radius: 8px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        margin: 160px auto;
        max-width: 328px;
        padding: 35px 35px 38px;
        .modal-content{
            border: none;
            #action_icon_container{
                background: url("/web-frontend/assets/images/confirm-modal-sprite.svg") no-repeat; 
                display: block;
                height: 58px;
                margin: 0 auto;
                width: 58px;
                &.private_icon{
                    background-position: -8px -14px;
                    height: 63px;
                }
                &.public_icon{
                    background-position: -89px -9px;
                    height: 63px;
                }
                &.remove_icon{
                    background-position: -171px -7px;
                    height: 59px;
                }
                &.archive_icon{
                    background-position: -258px -8px;
                    height: 59px;
                }
                &.duplicate_icon{
                    background-position: -343px -8px;
                    height: 59px;
                    width: 50px;
                }
            }
            p{
                color: #4B626A;
                font: 16px/24px @font_regular;
                margin: 33px 0 17px;
                text-align: center;
                span{
                    font: 16px/24px @font_regular;
                }
            }
            div{
                align-items: center;
                display: flex;
                justify-content: center;
                width: 100%;

                button{
                    background-color: transparent;
                    border-radius: 8px;
                    border: 1px solid @secondary_80;
                    color: @secondary_80;
                    font: 16px/24px @font_medium;
                    height: 40px;
                    width: 80px;
                    &:last-child{
                        background-color: @primary_60;
                        border-radius: 8px;
                        color: @white;
                        margin-left: 44px;
                        transition: .21s;
                        &:hover{
                            opacity: .8;
                        }
                    }
                }
            }
        }
    }
}

body{
    background: @main_background;
}

nav{
    align-items: center;
    background: @white;
    display: flex;
    height: 64px;
    padding: 0 24px;
    position: sticky;
    top: 0;
    z-index: 30;
    &.show_mobile_menu{
        #mobile_menus{
            transform: translateX(0px);
        }
        #overlay{
            display: block;
        }
    }

    .mobile_menu_button{
        background: url("/web-frontend/assets/images/svg_icons_stripe.svg");
        background-position: -1041px -10px;
        border: none;
        display: none;
        height: 16px;
        margin-right: 17px;
        outline: none;
        padding: 0 0 0;
        text-decoration: none;
        width: 23px;
    }
    >a{
        height: 30px;
    }
    #user_settings{
        align-items: center;
        display: flex;
        margin-left: auto;

        #theme_block{
            align-items: center;
            background: @primary_95;
            border-radius: 30px;
            display: flex;
            height: 30px;
            margin-right: 24px;
            padding: 0 3px;
            position: relative;
            width: 73px;

            &::after{
                background: @primary_60;
                border-radius: 24/2px;
                content: "";
                height: 24px;
                left: 3px;
                position: absolute;
                width: 24px;
            }

            button{
                background: none;
                border: none;
                height: 24px;
                outline: none;
                width: 24px;
                z-index: 1;

                &:first-child{
                    position: relative;

                    &::after{
                        background: url("../../images/svg_icons_stripe.svg") no-repeat 4.5px -5.3px;
                        bottom: 0;
                        content: "";
                        height: 24px;
                        left: 0;
                        position: absolute;
                        width: 24px;
                    }
                }

                &:last-child{
                    margin-left: auto;
                    position: relative;
                    
                    &::after{
                        background: url("../../images/svg_icons_stripe.svg") no-repeat -94px -5.3px;
                        bottom: 0;
                        content: "";
                        height: 24px;
                        position: absolute;
                        right: 0;
                        width: 24px;
                    }
                }
            }

            &.set_dark_mode{
                @keyframes animate_dark_theme {
                    0%{ left: 3px; }
                    25%{ left: 15px }
                    50%{ left: 25px; }
                    75%{ left: 40px; }
                    100%{ left: 46px; }
                }

                @keyframes show_icon {
                    0%{ opacity: 0; }
                    25%{ opacity: 10%; }
                    50%{ opacity: 35%; }
                    75%{ opacity: 65%; }
                    100%{ opacity: 100%; }
                }

                &::after{
                    animation: animate_dark_theme .2s ease-in-out;
                    animation-fill-mode: forwards;
                }

                #dark_mode{
                    &::after{
                        animation: show_icon .35s ease-in-out;
                        animation-fill-mode: forwards;
                        background: url("../../images/svg_icons_stripe.svg") no-repeat -29px -5.3px;
                    }
                }

                #light_mode{
                    @keyframes change_icon {
                        0%{ background-position: 4.5px -5.3px; opacity: 0; }
                        25%{ background-position: 4.5px -5.3px; opacity: 10%; }
                        50%{ background-position: 4.5px -5.3px; opacity: 35%; }
                        75%{ background-position: -62px -5.3px; opacity: 65%; }
                        100%{ background-position: -62px -5.3px; opacity: 100%; }
                    }

                    &::after{
                        animation: change_icon .35s ease-in-out;
                        animation-fill-mode: forwards;
                        background: url("../../images/svg_icons_stripe.svg") no-repeat;
                    }
                }
            }

            &.set_light_mode{
                @keyframes animate_light_theme {
                    0%{ left: 46px; }
                    25%{ left: 40px; }
                    50%{ left: 25px; }
                    75%{ left: 15px }
                    100%{ left: 3px; }
                }

                @keyframes show_icon {
                    0%{ opacity: 0; }
                    25%{ opacity: 10%; }
                    50%{ opacity: 35%; }
                    75%{ opacity: 65%; }
                    100%{ opacity: 100%; }
                }

                &::after{
                    animation: animate_light_theme .2s ease-in-out;
                    animation-fill-mode: forwards;
                }

                #dark_mode{
                    &::after{
                        animation: show_icon .35s ease-in-out;
                        animation-fill-mode: forwards;
                        background: url("../../images/svg_icons_stripe.svg") no-repeat -94px -5.3px;
                    }
                }

                #light_mode{
                    @keyframes change_light_icon {
                        0%{ background-position: 62px -5.3px; opacity: 0; }
                        25%{ background-position: 62px -5.3px; opacity: 10%; }
                        50%{ background-position: 62px -5.3px; opacity: 35%; }
                        75%{ background-position: 4.5px -5.3px; opacity: 65%; }
                        100%{ background-position: 4.5px -5.3px; opacity: 100%; }
                    }

                    &::after{
                        animation: change_light_icon .35s ease-in-out;
                        animation-fill-mode: forwards;
                        background: url("../../images/svg_icons_stripe.svg") no-repeat;
                    }
                }
            }
        }

        #user_profile_wrapper{
            align-items: center;
            display: flex;

            img{
                margin-right: 9px;
            }

            button{
                align-items: center;
                background: transparent;
                border: none;
                color: @primary_60;
                display: flex;
                font: 16px/24px @font_medium;
                outline: none;

                .caret_arrow{
                    background: url("../../images/svg_icons_stripe.svg") no-repeat -123px -7px;
                    display: flex;
                    height: 24px;
                    margin-left: 8px;
                    width: 24px;
                }
            }
        }
    }
    #mobile_menus{
        background-color: @primary98;
        height: 1000vh;
        left: 0;
        padding: 24px 16px 0;
        position: fixed;
        top: 0;
        transform: translateX(-220px);
        transition: all .21s;
        z-index: 10;
        button{
            background: url("/web-frontend/assets/images/svg_icons_stripe.svg");
            background-position: -929px -11px;
            border: none;
            display: block;
            height: 15px;
            padding: 0 0 0;
            width: 22px;
        }
        ul{
            margin: 0;
            padding: 0;
            width: 100%;
            li{
                list-style: none;
                margin-bottom: 18px;
                width: 100%;
                &:last-child{
                    margin-bottom: 0;
                }
                a{
                    align-items: center;
                    color: @primary_60;
                    display: flex;
                    font: 12px/16px @font_medium;
                    padding: 10px 0;
                    text-decoration: none;
                    width: 100%;
                    &::before{
                        background: url("/web-frontend/assets/images/svg_icons_stripe.svg");
                        background-position: -967px -10px;
                        content: "";
                        height: 17px;
                        margin-right: 16px;
                        width: 19px;
                    }
                }
                &#settings_link{
                    a{
                        &::before{
                            background-position: -1005px -10px !important;
                            height: 20px;
                            width: 20px;
                        }
                    }
                }
            }
        }
        div{
            align-items: center;
            border-bottom: 1px solid #DBE8ED;
            display: flex;
            margin: 42px 0 17px;
            padding-bottom: 15px;
            img{
                border-radius: 50%;
                height: 48px;
                margin-right: 12px;
                width: 48px;
            }
            span{
                color: @secondary_20;
                display: block;
                font: 14px/20px @font_medium;
                span{
                    color: @secondary_60;
                    font: 12px/16px @font_medium;
                }
            }
        }
    }
    #overlay{
        background: #1D333B;
        cursor: pointer;
        display: none;
        height: 1000vh;
        left: 0;
        opacity: 0.5;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 5;
    }
    @media only screen and (max-width: 580px){
        #user_settings{
            display: none;
        }
        .mobile_menu_button{
            display: block;
        }
    }
}

.breadcrumbs_block{
    align-items: center;
    display: flex;
    list-style: none;
    margin: 24px 0 23px;
    padding: 0;

    a{
        color: @primary_60;
        cursor: pointer;
        font: 14px/20px @font_medium;
        text-decoration: none;
    }

    p{
        color: @secondary_60;
        font: 14px/20px @font_medium;
        margin: 0;
    }

    li{
        margin-left: 45px;
        position: relative;

        a, p{
            align-items: center;
            display: flex;

            .breadcrumbs_icon{
                background: url("../../images/svg_icons_stripe.svg") no-repeat -201px -10px;
                display: block;
                height: 18px;
                margin-right: 8px;
                width: 18px;

                &.section_icon{
                    background-position: -238px -10px;
                }
                &.component_icon{
                    background-position: -386px -10px;
                }
            }
        }

        &:first-child{
            margin-left: 0;
        }

        &::after{
            background: url("../../images/svg_icons_stripe.svg") no-repeat -423px -9px;
            content: "";
            height: 18px;
            position: absolute;
            right: -33px;
            top: 0;
            width: 18px;
        }

        &:last-child{
            &::after{
                display: none;
            }
        }
    }
}