<nav>
    <a href="/web-frontend/views/admin/login.html"><img src="../../assets/images/logo_small.svg" alt="Internal Doc Logo"></a>

    <div>
        <div id="theme_block" class="set_light_mode">
            <button class="set_theme_btn" id="light_mode"></button>
            <button class="set_theme_btn" id="dark_mode"></button>
        </div>

        <div id="user_profile_wrapper">
            <img src="../../assets/images/profile.jpg" alt="User Profile">
            <button id="user_detail">Jannah M.<span class="caret_arrow"></span></button>
        </div>
    </div>
</nav>