<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components</title>
    <!-- CONSTANTS -->
    <script src="../../assets/js/constans.js"></script>

    <!-- CUSTOM JS -->
    <script>
        let current_js  = "../../assets/js/custom/admin/components.js";
    </script>

    <!-- ASSETS LOADER -->
    <script src="../../assets/js/vendor/assets_loader.min.js"></script>
    <script src="../../assets/js/custom/render_assets.js"></script>
</head>
<body>
     <nav>
        <a href="/web-frontend/views/admin/login.html"><img src="../../assets/images/logo_small.svg" alt="Internal Doc Logo"></a>

        <div>
            <div id="theme_block" class="set_light_mode">
                <button class="set_theme_btn" id="light_mode"></button>
                <button class="set_theme_btn" id="dark_mode"></button>
            </div>

            <div id="user_profile_wrapper">
                <img src="../../assets/images/profile.jpg" alt="User Profile">
                <button id="user_detail">Jannah M. <span class="caret_arrow"></span></button>
            </div>
        </div>
     </nav>
</body>
</html>