<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.svg">
    
    <title>Documentation</title>

    <link rel="stylesheet" href="../../assets/css/global.css">
    <link rel="stylesheet" href="../../assets/css/custom/documentation.css">
</head>
<body>
    <div id="dashboard_wrapper">
        <form action="#" data-processing="0">
            <label>
                <span>Add Documentation</span>
                <input id="add_documentation_input" type="text">
            </label>
        </form>

        <ul>
            <li class="is_private">
                <div></div>
                <div>
                    <h2>Engineering Guide <button></button></h2>
                    <span>46 viewers and 3 editors</span>
                    <p>Rey Plumb had always loved Cups San Fernando City with it. Reyna...</p>
                </div>
            </li><!--
            --><li>
                <div></div>
                <div>
                    <h2>Engineering Guide <button></button></h2>
                    <span>46 viewers and 3 editors</span>
                    <p>Rey Plumb had always loved Cups San Fernando City with it. Reyna...</p>
                </div>
            </li><!--
            --><li>
                <div></div>
                <div>
                    <h2>Engineering Guide <button></button></h2>
                    <span>46 viewers and 3 editors</span>
                    <p>Rey Plumb had always loved Cups San Fernando City with it. Reyna...</p>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>