<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.svg">
    
    <title>Documentation</title>

    <link rel="stylesheet" href="../..//assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="../../assets/css/global.css">
    <link rel="stylesheet" href="../../assets/css/custom/documentation.css">
</head>
<body>
    <div id="dashboard_wrapper">
        <div id="form_container">
            <form id="create_document_form" action="#" data-processing="0">
                <label>
                    <span>Add Documentation</span>
                    <input id="add_documentation_input" type="text">
                </label>
            </form>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="documents_category_selection" data-bs-toggle="dropdown" aria-expanded="false">
                  Show All
                </button>
                <ul class="dropdown-menu" aria-labelledby="documents_category_selection">
                    <li><a class="dropdown-item" href="#">All</a></li>
                    <li><a class="dropdown-item" href="#">Starred</a></li>
                    <li><a class="dropdown-item" href="#">Private</a></li>
                    <li><a class="dropdown-item" href="#">Public</a></li>
                    <li><a class="dropdown-item" href="#">Archived</a></li>
                </ul>
            </div>
        </div>
        <ul id="document_list_container"></ul>
    </div>

    <div id="popover_container" hidden>
        <div id="document_options">
            <ul>
                <li><button type="button" class="edit_document">Edit</button></li>
                <li><button type="button" class="duplicate_document">Duplicate</button></li>
                <li><button type="button" class="remove_document">Remove</button></li>
                <li><button type="button" class="archive_document">Archive</button></li>
                <li>
                    <div class="public_document">
                        <input class="public_checkbox_setting" type="checkbox" name="public_setting">
                        <span class="public_document"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <li id="clone">
        <a href="#">
            <div></div>
            <div class="document_information">
                <button type="button" class="documents_menu" role="button" data-bs-toggle="popover"></button>
                <h2><span class="document_title"></span><label><input type="checkbox" name="checkbox"><span class="star_toggle_button"></span></label></h2>
                <span><span class="viewers_count"></span> viewers and <span class="editors_count"></span> editor</span>
                <p></p>
            </div>
        </a>
    </li>

    <div class="modal fade" id="confirm_private_modal" tabindex="-1" aria-labelledby="confirm_private_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <p>Are you sure you want to update it to <span class="public_private_content"></span>?</p>
                <div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button id="confirm_button_yes" type="button" class="btn btn-primary">Yes</button>
                </div>
            </div>                
        </div>
    </div>

    <script src="../../assets/js/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="../../assets/js/custom/admin/documentation.js"></script>
</body>
</html>