<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoomYEAH Docs Tool | Login</title>
    <link rel="stylesheet" href="../../assets/css/custom/login.css">
    <link rel="icon" type="image/x-icon" href="/web-frontend/assets/images/favicon.svg">

    <!-- CONSTANTS -->
    <script src="../../assets/js/constans.js"></script>

    <!-- CUSTOM JS -->
    <script>
        let current_js  = "../../assets/js/custom/login.js";
    </script>

    <!-- ASSETS LOADER -->
    <script src="../../assets/js/vendor/assets_loader.min.js"></script>
    <script src="../../assets/js/custom/render_assets.js"></script>
</head>
<body>
    <section>
        <form action="#" id="login_form" method="POST">
            <img src="../../assets/images/logo_big.svg" alt="Internal Doc Logo">
            <h1>Internal Documentation Tool</h1>
            <input type="hidden" name="user_type" value="admin">
            <button type="submit">Login with Google</button>
        </form>

        <div id="login_block">
            <img src="../../assets/images/vector_character.svg" alt="Vector Character">
        </div>
    </section>
</body>
</html>