@import url("/web-frontend/assets/css/custom/fonts.css");
/* FONTS */
/* COLORS */
#component_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 1045px;
}
