@import url("/web-frontend/assets/css/custom/fonts.css");
/* FONTS */
/* COLORS */
label.input_field {
  background-color: #F0FDFA;
  border-bottom: 2px solid #14B8A6;
  border-radius: 8px 8px 0px 0px;
  height: 52px;
  padding: 7px 16px 3px;
  position: relative;
  width: 100%;
}
label.input_field span {
  color: #14B8A6;
  display: block;
  font: 12px/16px "Roboto-Regular";
}
label.input_field input[type=text] {
  background: #F0FDFA;
  border: none;
  color: #4B626A;
  font: 14px/20px "Roboto-Medium";
  outline: none;
  padding: 0;
  width: 100%;
}
.text_allow_comments {
  color: #1D333B;
  cursor: pointer;
  font: 14px/17px "Roboto-Medium";
}
#component_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 20px;
  width: 1045px;
}
#component_wrapper #left_panel {
  width: 812px;
}
#component_wrapper #left_panel .section_details {
  background: url("../../../images/section_bg.png") no-repeat right 0px, #FFFFFF;
  border-radius: 8px;
  height: 244px;
  padding: 24px;
}
#component_wrapper #left_panel .section_details .title_block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 19px;
}
#component_wrapper #left_panel .section_details .title_block #section_title {
  background: transparent;
  border: none;
  color: #1D333B;
  font: 22px/28px "Roboto-Regular";
  margin: 0;
  outline: none;
}
#component_wrapper #left_panel .section_details .title_block button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F0FDFA;
  border: none;
  border-radius: 5px;
  color: #14B8A6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 12px/16px "Roboto-Medium";
  height: 34px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 24px;
  outline: none;
  width: 104px;
}
#component_wrapper #left_panel .section_details .title_block button .update_icon {
  background: url("/web-frontend/assets/images/preview_update_svg_icon.svg") no-repeat -32px 0px;
  display: block;
  height: 18px;
  margin-right: 8px;
  width: 18px;
}
#component_wrapper #left_panel .section_details #section_details {
  background: transparent;
  border: none;
  color: #4B626A;
  font: 16px/24px "Roboto-Regular";
  height: 143px;
  outline: none;
  resize: none;
  width: 100%;
}
#component_wrapper #left_panel #component_list {
  margin-top: 24px;
}
#component_wrapper #left_panel #component_list .component_block {
  margin-bottom: 24px;
}
#component_wrapper #left_panel #component_list .component_block:last-child {
  margin-bottom: 0;
}
#component_wrapper #left_panel #component_list .component_block .tab_list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
#component_wrapper #left_panel #component_list .component_block .tab_list li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#component_wrapper #left_panel #component_list .component_block .tab_list li.add_tab {
  background: #14B8A6;
  border: 1px solid #14B8A6;
  height: 44px;
  width: 42.5px;
}
#component_wrapper #left_panel #component_list .component_block .tab_list li.add_tab button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../../../images/svg_icons_stripe.svg") no-repeat -547px 3px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
#component_wrapper #left_panel #component_list .component_block .tab_list li.tab_item {
  background: #F0FDFA;
  border: 1px solid #CEE6F0;
  padding: 0 8px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#component_wrapper #left_panel #component_list .component_block .tab_list li.tab_item.active {
  background: #FFFFFF;
  border-top: 2px solid #14B8A6;
}
#component_wrapper #left_panel #component_list .component_block .tab_list li.tab_item .tab_name {
  color: #14B8A6;
  cursor: pointer;
  font: 14px/20px "Roboto-Regular";
}
#component_wrapper #left_panel #component_list .component_block .tab_list li.tab_item .remove_tab {
  background: url("../../../images/svg_icons_stripe.svg") no-repeat -497.5px -11px;
  border: none;
  height: 18px;
  margin-left: 10px;
  outline: none;
  width: 18px;
}
#component_wrapper #left_panel #component_list .component_block .tab_list li.tab_item button {
  background-color: transparent;
  border: none;
  color: #14B8A6;
}
#component_wrapper #left_panel #component_list .component_block .tab_details {
  background: #FFFFFF;
  padding: 24px;
}
#component_wrapper #left_panel #component_list .component_block .tab_details h1 {
  color: #1D333B;
  font: 22px/28px "Roboto-Medium";
}
#component_wrapper #left_panel #component_list .component_block .tab_details h3,
#component_wrapper #left_panel #component_list .component_block .tab_details h4,
#component_wrapper #left_panel #component_list .component_block .tab_details h5 {
  color: #7D949D;
  font: 22px/28px "Roboto-Regular";
}
#component_wrapper #left_panel #component_list .component_block .tab_details h2 {
  color: #1D333B;
  font: 22px/28px "Roboto-Medium";
}
#component_wrapper #left_panel #component_list .component_block .tab_details p {
  color: #4B626A;
  font: 14px/20px "Roboto-Regular";
}
#component_wrapper #left_panel #component_list .component_block .action_btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  border-bottom: 0.5px solid #CEE6F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 24px 24px;
}
#component_wrapper #left_panel #component_list .component_block .action_btn button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: transparent;
  color: #7D949D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 14px/20px "Roboto-Medium";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.5;
  outline: none;
}
#component_wrapper #left_panel #component_list .component_block .action_btn button:first-child {
  margin-right: 24px;
}
#component_wrapper #left_panel #component_list .component_block .action_btn button.active {
  color: #14B8A6;
  opacity: 1;
}
#component_wrapper #left_panel #component_list .component_block .action_btn button.active span {
  background-position: -57px 0px;
}
#component_wrapper #left_panel #component_list .component_block .action_btn button.active span.next_tab_icon {
  background-position: -82px 0px;
}
#component_wrapper #left_panel #component_list .component_block .action_btn button span {
  background: url("../../../images/arrow_icon.svg") no-repeat 0px 0px;
  display: block;
  height: 18px;
  margin-right: 8px;
  width: 18px;
}
#component_wrapper #left_panel #component_list .component_block .action_btn button span.next_tab_icon {
  background-position: -27px 0px;
  margin: 0 0 0 8px;
}
#component_wrapper #left_panel #component_list .component_block .post_block {
  background: #FFFFFF;
  border-radius: 0 0 8px 8px;
  padding: 24px;
}
#component_wrapper #left_panel #component_list .component_block .post_block .checkbox_style {
  background: #CEE6F0;
  border-radius: 2px;
  cursor: pointer;
  height: 18px;
  margin-right: 8px;
  width: 18px;
}
#component_wrapper #left_panel #component_list .component_block .post_block .checkbox_label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 21px;
}
#component_wrapper #left_panel #component_list .component_block .post_block .checkbox_label .allow_comments {
  display: none;
}
#component_wrapper #left_panel #component_list .component_block .post_block .allow_comments:checked ~ .checkbox_style {
  background: url("../../../images/svg_icons_stripe.svg") no-repeat -654px -9px;
}
#component_wrapper #left_panel #component_list .component_block .post_block .input_field {
  margin-bottom: 17px;
  opacity: 0.5;
  pointer-events: none;
  position: relative;
}
#component_wrapper #left_panel #component_list .component_block .post_block .input_field .char_count {
  bottom: -22px;
  position: absolute;
  right: 16px;
}
#component_wrapper #left_panel #component_list .component_block .post_block ul {
  margin: 0;
  padding: 0;
}
#component_wrapper #right_panel {
  height: 100%;
  margin: 0 0 0 auto;
  padding-top: 67px;
  position: sticky;
  top: 0;
  width: 201px;
}
#component_wrapper #right_panel h3 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1D333B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 16px/24px "Roboto-Regular";
  margin-bottom: 12px;
}
#component_wrapper #right_panel h3 .info_icon {
  background: url("../../../images/svg_icons_stripe.svg") no-repeat -462px -10px;
  display: inline-block;
  height: 18px;
  margin-left: 8px;
  width: 18px;
}
#component_wrapper #right_panel #section_list {
  border-left: 1px solid rgba(125, 148, 157, 0.5);
  list-style: none;
  padding: 12px 0 12px 0;
}
#component_wrapper #right_panel #section_list li {
  cursor: pointer;
  margin-bottom: 24px;
  padding-left: 25px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#component_wrapper #right_panel #section_list li:last-child {
  margin-bottom: 0;
}
#component_wrapper #right_panel #section_list li:hover a {
  opacity: 1;
}
#component_wrapper #right_panel #section_list li a {
  color: #14B8A6;
  font: 14px/20px "Roboto-Regular";
  opacity: 0.5;
  pointer-events: none;
  text-decoration: none;
}
#component_wrapper #right_panel #section_list li.active {
  border-left: 2px solid #1D333B;
  padding-left: 23px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#component_wrapper #right_panel #section_list li.active a {
  color: #1D333B;
  font: 14px/20px "Roboto-Medium";
  opacity: 1;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
