@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../../fonts/Roboto-Black.ttf");
}
/* FONTS */
/* COLORS */
* {
  font-family: "Roboto-Regular";
  /* font: 14px/18px "Roboto-Regular"; */
}
body {
  background: #E7EFF6;
}
