<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/web-frontend/assets/images/favicon.svg">
    <title>BoomYEAH Docs Tool | Engineering Guide</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/web-frontend/assets/css/custom/user/section.css">
    <script src="/web-frontend/assets/js/vendor/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- CONSTANTS -->
    <script src="/web-frontend/assets/js/constans.js"></script>

    <!-- CUSTOM JS -->
    <script>
        let current_js  = "/web-frontend/assets/js/custom/user/section.js";
    </script>

    <!-- ASSETS LOADER -->
    <script src="/web-frontend/assets/js/vendor/assets_loader.min.js"></script>
    <script src="/web-frontend/assets/js/custom/render_assets.js"></script>
</head>
<body>
    <div data-include="../admin/templates/navigation.html"></div>
    <div id="section_wrapper">
        <ul>
            <li class="documentation_link"><a href="/web-frontend/views/user/docs.html">Documentations</a></li>
            <li class="active section_link"><a href="/web-frontend/views/user/sections.html">Engineering Guide</a></li>
        </ul>
        <div id="section_main_contents">
            <div id="documents_information">
                <h1 id="documents_title">Engineering Guide</h1>
                <div id="viewers_editors_count"><span>46 viewers and 3 editors</span></div>
                <p id="document_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div id="sections_block">
                <form id="search_section_form" action="#" data-is-processing="0">
                    <label>
                        <span>Search Section</span>
                        <input id="search_section_input" type="text">
                    </label>
                    <button type="submit"></button>
                </form>
                <ul id="section_list_container"></ul>
                <img id="no_section_data_logo" src="../../assets/images/no_section_data_logo.svg" alt="No Section Data Logo" hidden>
            </div>
        </div>
    </div>

    <li id="clone_section" role="button" data-bs-toggle="popover">
        <a href="">
            <div></div>
            <div>
                <h3><span class="section_title"></span></h3>
                <p class="section_description"></p>
            </div>
        </a>
    </li>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</body>
</html>